<<<<<<< HEAD
@import "flowbite/src/themes/default";

=======
>>>>>>> 86da91ecb79c10b4ea4564248eadddf5de227262
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #f8fafc;
}